<div class="container">
    <h1 class="text-center text-success">Add Student</h1>
<form class="form-horizontal" action="/stu/save-student" method="post">
<div>
<fieldset>
<label for="readOnlyInput" class="col-lg-2 control-label">Enter Your Name:</label>
<input 
type="text" 
name="fullname" 
class="form-control" 
placeholder="Enter Your Name"/>  
</fieldset>
    </div>
    
    <div>
<fieldset>
<label for="readOnlyInput" class="col-lg-2 control-label">Enter Your Email:</label>
<input 
type="email" 
name="email" 
class="form-control" 
placeholder="Enter Your Email ID"/>  
</fieldset>
    </div>

<div>
<fieldset>
<label for="readOnlyInput" class="col-lg-2 control-label">Enter Your Phone:</label>
<input 
type="text" 
name="mobile" 
class="form-control" 
placeholder="Enter Your Mobile Number"/>  
</fieldset>
    </div>

<div>
<fieldset>
<label for="readOnlyInput" class="col-lg-2 control-label">Enter Your City:</label>
<input 
type="text" 
name="city" 
class="form-control" 
placeholder="Enter Your City"/>  
</fieldset>
    </div>
    <br>
    <button class="btn btn-primary">Submit</button>

</form>
</div>


